#wrap {
    max-width: 900px;
    margin: 0px auto;
  }
  /* .calender {
    position: absolute;
    top: 103%;
    left: 10%;
    width: 300px;
    display: none;
  }
  .calender.active {
    display: block;
  } */
  #datePicker {
    position: relative;
  }
  /* .date-widget {
    position: relative;
    width: 100%;
    /* max-width: 500px; 
    height: 60px;
    background-color: #fff;
    /* margin: 30px auto; 
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    user-select: none;
  }
  .date-widget:hover {
    background-color: #f3f3f3;
  }
  
  .date-widget .selected-date {
    width: 100%;
    height: 100%;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    color: #313131;
    font-size: 28px;
  }
  
  .date-widget .dates {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
  
    background-color: #fff;
  }
  
  .date-widget .dates.active {
    display: block;
  }
  
  .date-widget .dates .month {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #eee;
  }
  
  .date-widget .dates .month .arrows {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #313131;
    font-size: 20px;
  }
  
  .date-widget .dates .month .arrows:hover {
    background-color: #f3f3f3;
  }
  
  .date-widget .dates .month .arrows:active {
    background-color: #00ca85;
  }
  
  .date-widget .dates .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    height: 200px;
  }
  .date-widget .dates .days .day {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #313131;
  }
  .date-widget .dates .days .day.selected {
    background-color: #00ca85;
  }
  .day:hover {
    background-color: #eee;
  } */
  
  .myCal1,
  .myCal2 {
    z-index: 2000;
    width: 322px;
    height: 322px;
    border-radius: 5px;
    position: absolute;
    left: 10%;
    background-color: #fff;
    display: none;
    -webkit-box-shadow: -1px -1px 31px 1px rgba(0, 0, 0, 0.36);
    box-shadow: -1px -1px 31px 1px rgba(0, 0, 0, 0.36);
    overflow: hidden;
  }
  .myCal1.active,
  .myCal2.active {
    display: block;
  }
  .calMonth {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #313131;
    background-color: aliceblue;
    /* padding: 10px 0; */
  }
  .arrows {
    font-size: 32px;
    padding: 2px 10px;
    cursor: pointer;
  }
  .arrows:hover {
    background-color: #eee;
  }
  .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    height: 200px;
  }
  .day {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #313131;
    cursor: pointer;
  }
  .day:hover {
    background: #eee;
  }
  .date-display {
    text-align: center;
    padding: 5px;
  }
  