.btn {
  border: 1px solid $gray;
  border-radius: 3px;
  font-size: $font-sm;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  &-sm {
    padding: 1rem 1.2rem;
  }
  &-full {
    background: $purple;
    color: $white;
  }
  &:hover {
    background: lighten($color: $purple, $amount: 10%);
  }
}
