.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  background-color: $bodyColor;
  border-radius: 3px;
  p {
    margin-left: 0.5rem;
  }
}


.card {
  background-color: $white;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  &__header {
    padding: 0 25px;
    // border-bottom: 1px solid lighten($color: $purple, $amount: 20%);
    min-height: 60px;
    display: flex;
    align-items: center;
    position: relative;
    // background: lighten($color: $purple, $amount:15%);
    h2 {
      font-size: 1.9rem;
      color: $white;
    }
    .menu-dots{
      position: absolute;
      right: 7px;
      top: 7px;
      >span{
        display: inline-block;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: $white;
      }
    }
  }
  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    .info {
      text-align: right;
      &__first {
        margin: 2rem 0 1rem 0;
      }
      p {
        font-size: 1.1rem;
        span {
          font-weight: 700;
        }
      }
    }
  }
  &__content {
    // border: 1px solid red;
    padding: 0 2rem;
    font-size: 1.2rem;
    text-align: justify;
    min-height: 9rem;
  }
  &__footer {
    margin-top: 1.2rem;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
  }
}
.progress-container {
  /* border: 1px solid red; */
  width: 100px;
  height: 100px;
  position: relative;
}
.progress-container::after {
  content: attr(data-pct) "%";
  position: absolute;
  display: block;
  top: 45%;
  right: 35%;
  font-size: 1.2rem;
  margin-left: -15px;
  font-weight: bold;
}
.progressbar__track {
  fill: transparent;
  stroke: #eee;
  stroke-width: 5px;
  /* stroke-dashoffset: 0; */
  transition: stroke-dashoffset 1s linear;
}
.progressbar__thumb {
  fill: transparent;
  stroke: #ff9f1e;
  stroke-linecap: round;
  stroke-width: 5px;
  /* stroke-dashoffset: 0; */
  transition: stroke-dashoffset 1s linear;
  /* stroke-dasharray: 0 calc(20 * 2 * 3.141593);
  animation: progress 1.2s forwards; */
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}
.text {
  background-color: #eee;
  padding: 5px;
  border-radius: 5px;
  font-size: 1rem;
}
