$gray: #eee;
$grayishBlue: hsl(233, 8%, 62%);
$lightGrayishBlue: hsl(220, 16%, 96%);
$veryLightGray: hsl(0, 0%, 95%);
$white: #fff;
$black: rgb(0, 0, 0);
$sideBarColor: #222831;
//$sideBarColor: #393e46;
$purple: #411a37;
$purple: #562349;
$purpleLight: #fee2b3;
$bodyColor: #eceff3;

//Font Sizes
$font-sm: 1.4rem; //14px
$font-md: 1.8rem; //18px

//Width
$sideBarWidth: 12rem;

//ctx
$active: orange;
$overdue: red;
$completed: green;

.is {
  &-active {
    border-bottom: 3px solid $active;
    color: $sideBarColor;
  }
  &-overdue {
    border-bottom: 3px solid $overdue;
    color: $sideBarColor;
  }
  &-completed {
    border-bottom: 3px solid $completed;
    color: $sideBarColor;
  }
}
