html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-size: $font-md;
  color: $grayishBlue;
  font-family: "Public Sans", sans-serif;
  font-weight: 300;
  background: $gray;
  height: 100%;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
}
.container {
  max-width: 112rem;
  background: $veryLightGray;
  height: 100vh;
  margin: 3% auto;
  box-shadow: 0 10px 60px rgba($color: $black, $alpha: 0.3);
  border-radius: 2px;
  overflow: hidden;
  display: flex;
}
a,
a:visited,
a:hover {
  text-decoration: none;
  //color: inherit;
}
.padding-all {
  padding: 1.2rem 1.5rem;
}
.main {
  display: flex;
  height: 100vh;
}
.btn {
  border-radius: 3px;
  background: $colorPrimary;
  color: $white;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  &:hover {
    background: darken($color: $pink, $amount: 0.3);
  }
}
