.side-nav {
  height: 100%;
  //width: 12.5rem; //todo: try it in %
  background: $white;
  border: 1px solid $gray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  flex: 1;

  &__menu {
    margin-top: 50px;
    list-style: none;
    li {
      text-align: center;
      a {
        text-transform: uppercase;
        font-size: $font-sm;
        display: block;
        padding: 1.5rem 1rem;
        color: inherit;
        &:hover {
          background-color: $veryLightPink;
          cursor: pointer;
        }
      }
    }
  }
  &__icons {
  }
}
